{% extends 'base.html.twig' %}
{% block title %}Affecter {{ collaborateur.prenom }} {{ collaborateur.nom }}{% endblock %}
{% block body %}
<h1 class="mb-4">Affecter « {{ collaborateur.prenom }} {{ collaborateur.nom }} » à un poste</h1>
<div class="card shadow-sm"><div class="card-body">
    {{ form_start(form) }}
        {{ form_row(form.restaurant) }}
        {{ form_row(form.fonction) }}
        {{ form_row(form.dateDebut) }}
        <button class="btn btn-danger">Affecter</button>
        <a class="btn btn-link" href="{{ path('app_collaborateur_show', {id: collaborateur.id}) }}">Annuler</a>
    {{ form_end(form) }}
</div></div>
{% endblock %}
